body{
    background-color: #FBD2D5;
}

.main{
    color:#B14048;
    text-decoration: none;
    font-size: 30px;
    padding-left: 18%;
    padding-top: 15px;
    display: flex;
}

.shop{
    color:#111010;
    text-decoration: none;
    font-size: 30px;
    padding-left: 35%;
    margin-top: -29px;
    display: flex;
}

.job{
    color:#111010;
    text-decoration: none;
    font-size: 30px;
    padding-left: 55%;
    margin-top: -27px;
    display: flex;
}

.zadacha{
    color:#111010;
    text-decoration: none;
    font-size: 30px;
    padding-left: 70%;
    margin-top: -30px;
    display: flex;
}

h1{
    font-size: 80px;
    padding-left: 35%;
    padding-top: 10px;
}

.recten{
    border: #B14048;
    background-color: #FBD2D5;
    width: 100px;
    height: 50px;
}

h2{
    font-size: 22px;
    padding-left: 43%;
    margin-top: 5px;
    color:#111010;
}

.text1{
    color:#111010;
    font-size: 30px;
    padding-left: 18%;
    padding-top: 5%;
    padding-right: 25%;
}

.nav21{
    color:#111010;
    text-decoration: none;
    font-size: 30px;
    padding-left: 20%;
    margin-top: 30px;
    display: flex;
}

.nav22{
    color:#111010;
    text-decoration: none;
    font-size: 30px;
    padding-left: 30%;
    display: flex;
}

.nav23{
    color:#111010;
    text-decoration: none;
    font-size: 30px;
    padding-left: 42%;
    display: flex;
}